/* styles.css */
.my-background {
  background: linear-gradient(90deg, transparent 50%, #13c7f0 50%),linear-gradient(to bottom, transparent 50%, #4ecbe680 50%);
  background-size: 2em 2em;
  background-color: #75f4ff;
  opacity: 0.8
}
  